* {
    padding: 0;
    margin: 0;
}

.container-1 {
    margin-top: 90px;
    margin-left: 100px;
    margin-right: 100px;
}

nav {
    display: flex;
    justify-content: space-between;

}

nav>ul {
    display: flex;
    gap: 50px;

}

nav>ul li {
    list-style: none;


}

ul li a {
    text-decoration: none;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    width: 49px;
    height: 34.8px;
    flex-shrink: 0;
}

ul .fa-magnifying-glass,
.fa-cart-shopping {
    width: 36px;
    height: 36px;
}

nav .logo {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 700;
    width: 243px;
    height: 52.2px;
}

.header-title {
    margin-top: 160px;
}

.header-title h1 {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    width: 582px;
    height: 133px;

}

.header-title p {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    width: 505px;
    height: 60.9px;
    flex-shrink: 0;
    margin-top: 20px;
}

.header-title a {
    color: #FFF;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 41px;
    background: #E02C6D;
    display: inline-flex;
    padding: 10px 30px;
    align-items: flex-start;
    margin-top: 10px;
    position: relative;
    text-decoration: none;
}

.fa-arrow-right {
    margin-left: -25px;
    margin-top: 23px;
    position: absolute;
    color: white;
}

.header-title-image {
    display: flex;
    justify-content: space-between;

}

.header-image {
    margin-top: 50px;
    position: relative;

}


.header-top-image {
    position: absolute;
    margin-left: 30px;
    margin-top: -467px;
}


.header-under-img-sponsor {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    background: whitesmoke;
    align-items: center;
    height: 70px;
    padding: 5px;
}

.container-2{
    margin: 100px 30px;
  
}
.container-2-title h3{
    color: #3A3A3A;

font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
text-align: center;
margin-bottom: -70px;

}
.all-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:  5px 30px;
    margin: 20px 240px;

}
.card{
    width: 329px;
height: 476px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
margin-top: 30px;
}

.card img{
    width: 300px;
height: 256px;
border-radius: 5px;
margin: 15px 15px;

}
.card h2{
    color: var(--Text-Gray-900, #18191F);
font-feature-settings: 'liga' off;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 40px;
margin-left: 15px; 
}
.card h3{
    color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
margin-left: 15px; 
}
.card p{
    color: var(--Gray-50, #787885);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 143%;
width: 196px;
margin-left: 15px;
margin-top: 8px;
 
}
 .icons {
   color:  #FB8200;
   margin-left: 15px;
   margin-top: 8px;
}
.container-3 {
    margin: 100px 200px;
    display: flex;
    gap: 37px;
}




.header-title-2 h1 {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    margin-top: 20px;
    margin-top: ;
  

}

.header-title-2 p {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    width: 505px;
    height: 60.9px;
    flex-shrink: 0;
    margin-top: 15px;
}

.header-title-2 a {
    color: #FFF;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    background: #E02C6D;
    display: inline-flex;
    padding: 10px 30px;
    align-items: flex-start;
    margin-top: 15px;
    position: relative;
    text-decoration: none;
}

.fa-arrow-right {
    margin-left: -25px;
    margin-top: 29px;
    position: absolute;
    color: white;
}
.footer-lst{
    width: 100%;
    height: 239px;
    background-color:black;
    text-align: center;
    align-items: center;}
    
     .footer-lst, .footer-text h1{
        color: white;
        padding: 15px;

    }
    



/* part one responsive */

/* Media query for extra-small devices */
@media screen and (max-width: 576px) {

    .container-1 {
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;

    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    nav .logo {
        color: #3A3A3A;
        font-family: Poppins;
        font-size: 1.5rem;
        font-weight: 700;
        width: 250px;
        align-items: center;
        margin: 2px auto;
    }

    .header-title-image {
        display: flex;
        flex-direction: column-reverse;
    }

    .header-title {
        margin-top: 25px;
        text-align: center;
    }

    nav ul {
        display: flex;
        gap: 39px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
.container-2{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

    .container-2-title{
        text-align:center;

    }
    .all-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap:  2px 5px;
        margin: 20px 60px;
 align-items: center;}

.container-3 {
    margin: 99px 68px;
    display: flex;
    gap: 28px;
    flex-direction: column-reverse;
}
footer .footer-lst{
    text-align: center;
    height: 150px;
    width: cover;}
.header-title-2{
    text-align: center;
    
}
.header-title-2 h1 {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
    margin-right: -38px;
}
.header-title-2 p {
    color: #3A3A3A;
    font-family: Poppins;
    font-weight: 400;
    margin-left: -75px;}


}
.last-img img{
    margin-right: 0px auto;
}
    /* Media query for medium devices */
    @media screen and (min-width: 577px) and (max-width: 992px){
        .container-1 {
            margin-top: 5px;
            margin-left: 5px;
            margin-right: 5px;
        }
        nav{
            display: flex;
            flex-direction: column;
            
        }

        nav .logo {
            color: #3A3A3A;
            font-family: Poppins;
            font-size: 1.5rem;
            font-weight: 700;
            width: 250px;
            align-items: center;
            margin: 2px auto;
            padding-left: 40px;
       
        }
        .header-title-image {
            display: flex;
            flex-direction: column;
    }
    nav  ul{display: flex;
        gap: 105p}
    
    .header-title {
        margin-top: 25px;
            text-align: center;}


            .header-title p{
                margin: 5px auto;
            }
            .header-tow-img{
                margin: 5px auto;
            }
            .all-card{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap:  5px 5px;
               margin: 3px auto;
        margin-right: 50px;}
        }
